[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
motor = "*"
pydantic = {extras = ["email"], version = "*"}
uvicorn = "*"
gpt-index = "*"

[dev-packages]

[requires]
python_version = "3.10"
